/* Custom Stylesheet */

.container--header{
  display: flex;
  z-index: 25;
  position: relative;
  height: 100px;
  align-items: center;
  justify-content: center;
}

/* Make all material icons circles */

.material-icons{
  border-radius: 50%;
  padding: 0.6rem;
}

/* Provide easy to use image centering */

.image-wrapper{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
}

.image-wrapper img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 110%;
  min-height: 100%;
  max-width: none;
  filter: blur(5px);
}

/* Define helper styling */

.flex-vertical-center{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


/* TODO: other shit */

#site-header{
  position: relative;
}

#site-header .header{
  margin-top: 3rem;
}

#site-header.fixed-nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: white;
  top: 0;
}

#site-header.fixed-nav .nav-row{
  margin-bottom: 0;
}

@media all and (min-width: 768px){
  .container--header{
    height: 200px;
  }
}

.language-en-GB #site-header .btn-english, .language-de #site-header .btn-german{
  position: relative;
}

.language-en-GB #site-header .btn-english:before, .language-de #site-header .btn-german:before{
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background: teal;
}

nav .brand-logo{
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

nav .brand-logo i.material-icons{
  padding: 0;
}

.page-footer{
  padding: 20px 0;
}

.page-footer .row{
  margin-bottom: 0;
}

.page-footer-column{
  display: flex;
  align-items: center;
}

.header{
  animation: .5s .25s fade backwards ease-out;
}

@keyframes fade {
  from {
    transform: translateY(.25em);
    opacity: 0
  }
}
