/* Custom Stylesheet */
.container{
  display: flex;
}

.container--header{
  align-items: center;
  justify-content: center;
}

footer.page-footer {
  margin: 0;
}

#index-banner{
  position: relative;
}

.image-wrapper{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
}

.image-wrapper img{
  margin: -5px -10px -10px -5px;
  width: calc(100% + 15px);
  max-width: none;
  filter: blur(5px);
}

.container--header{
  z-index: 25;
  position: relative;
  height: 500px;
}

.header{
  animation: .5s .25s fade backwards ease-out;
}

@keyframes fade {
  from {
    transform: translateY(.25em);
    opacity: 0
  }
}

.post-block {
  position: relative;
  background: white;
}

.post-block--article{
  padding: 1.5rem 2rem;
}