/* Custom Stylesheet */

/* All containers are now flex containers */

.container{
  display: flex;
}

.container--header{
  z-index: 25;
  position: relative;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.container--main{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Make all material icons circles */

.material-icons{
  border-radius: 50%;
  padding: 0.6rem;
}

/* Provide easy to use image centering */

.image-wrapper{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
}

.image-wrapper img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 110%;
  min-height: 100%;
  max-width: none;
  filter: blur(5px);
}

/* Define helper styling */

.flex-vertical-center{
  display: flex;
  align-items: center;
}


/* TODO: other shit */

#site-header{
  position: relative;
  overflow: hidden;
}

nav .brand-logo{
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

nav .brand-logo i.material-icons{
  padding: 0;
}

.page-footer-column{
  display: flex;
  align-items: center;
}

.header{
  animation: .5s .25s fade backwards ease-out;
}

@keyframes fade {
  from {
    transform: translateY(.25em);
    opacity: 0
  }
}
