#about-me {
    .about-me--photo{
        display: block;
        width: 50%;
        margin: 0 auto;
        clip-path: circle(45% at center);
    }

    .about-me--break{
        width: 50%;
    }
}

