#categories{
  padding: 1rem 2rem 1rem 2rem;

  .categories--heading{
    font-size: 1.5rem;
    padding: 1rem 0;
    margin: 0;
    font-weight: 300;
  }

  .categories--break{
    margin: 0;
  }

  .categories-category-link{
    &:hover{
      color: teal;
    }
  }
}