<div id="about-me" class="white">
    <img class='profile-photo' src="/images/carla.jpg">
    <h1 class="about-me--heading center-align">{{title}}</h1>
    <hr class="about-me--break">
    <div class="about-me--text">{{summary}}</div>
</div>

